@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Geometria', sans-serif;
    color: #121326;
}


/* variables */
:root {
    --color-primary: #215C66;
    --color-line: #EAEAEA;
}

  
.btn {
    padding: 0 1.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--color-primary);
    border-radius: 2.5rem;
}

    .btn .icon {
      margin-right: 0.5rem;
    }
    .btn.btn-dark {
        background-color: #000;
    }
    .btn.btn-yellow {
        background-color: #F7C87D;
        color: #000;
    }

.arrow-up {
    position: relative;
}
    .arrow-up:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.7rem;
        width: 0;
        height: 0;
        border-left: 0.3rem solid transparent;
        border-right: 0.3rem solid transparent;
        border-top: 0.4rem solid #4F4F4F;
        transform: translateY(-50%);
    }

@font-face {
    font-family: 'Optima Cyr';
    src: url('./fonts/optima/Optima.woff2') format('woff2'),
         url('./fonts/optima/Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/geometria/Geometria-Light.woff2') format('woff2'),
         url('./fonts/geometria/Geometria-Light.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/geometria/Geometria-Bold.woff2') format('woff2'),
         url('./fonts/geometria/Geometria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Baskerville';
    src: url('./fonts/baskerville/BaskervilleCyrLTStd-Incline.woff2') format('woff2'),
         url('./fonts/baskerville/BaskervilleCyrLTStd-Incline.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}


/* dropdown */
.el-popper.is-light {
    border-radius: 0!important;
    margin-top: -12px;
}

.el-date-table td.current:not(.disabled) .el-date-table-cell__text {
    background-color: #215C66 !important;
}

    .el-input__inner:focus {
        box-shadow: none;
    }
    .el-tree {
        padding: 0 1rem;
        background: var(--color-primary)!important;
    }
    .el-tree > .el-tree-node {
        position: relative;
    }
    .el-tree > .el-tree-node:not(:first-child) {
        border-top: 1px solid #BFC1C1;
    }

    .el-tree-node__content {
        height: 2.3rem!important;
    }
    .el-tree-select__popper .el-select-dropdown__item {
        color: #fff;
    }
    .el-tree-select__popper .el-tree-node__children .el-select-dropdown__item {
        text-transform: uppercase;
    }
    .el-popper.is-light .el-popper__arrow {
        display: none;
    }
    .el-tree-select__popper .el-tree-node__expand-icon {
        position: absolute;
        right: 0;
        transform: rotate(90deg);
    }
    .el-tree-select__popper .el-tree-node__expand-icon.expanded {
        transform: rotate(270deg);
    }

    .el-select {
        width: 100%;
    }
    .el-select-dropdown__wrap {
        max-height: 100%!important;
    }
    .el-input:focus {
        border-color: #fff!important;
    }
    .el-select .el-input__wrapper {
        border-radius: 0;
        height: 3rem;
    }
    .el-select .el-input__wrapper:hover {
        box-shadow: none!important;
    }
    .el-tree-node__content:hover,
    .el-tree-node:focus>.el-tree-node__content {
        background-color: transparent!important;
    }

    .el-icon.el-tree-node__expand-icon svg path {
        fill: #fff;
    }
    .el-tree-node__expand-icon.is-leaf {
        display: none;
    }
    .el-select-dropdown__item.selected {
        color: #fff!important;
    }


    /* datepicker */
    .m-datepicker .dp__menu_inner.dp__flex_display {
        padding: 1.5rem;
    }
    .m-datepicker  .dp__menu {
        font-family: 'Geometria';
        border-radius: 0;
        border-color: #fff;
    }
    .m-datepicker .dp__arrow_top {
        display: none;
    }
    .m-datepicker  .dp__month_year_row {
        position: static;
    }
    .m-datepicker .dp__menu_inner > .dp__instance_calendar:first-child .datepicker-arrow.arrow-right,
    .m-datepicker .dp__menu_inner > .dp__instance_calendar:nth-child(2) .datepicker-arrow.arrow-left {
        display: none;
    }
    .m-datepicker .dp__menu_inner > .dp__instance_calendar:first-child .dp__month_year_row {
        padding-left: .4rem;
    }
    .m-datepicker .dp__menu_inner > .dp__instance_calendar:nth-child(2) .dp__month_year_row {
        padding-left: 1.1rem;
    }
    
    .m-datepicker .dp__month_year_row .datepicker-arrow {
        background-color: #F7C87D;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        top: 50%;
    }
    .m-datepicker .dp__month_year_row .datepicker-arrow  svg path {
        fill: #000;
        stroke: #000;
    }
    .m-datepicker .dp__month_year_row .datepicker-arrow.arrow-right {
        right: -2.4rem;
        transform: translate3d(0, -1rem, 0);
    }
    .m-datepicker .dp__month_year_row .datepicker-arrow.arrow-left {
        left: -2.4rem;
        transform: translate3d(0, -1rem, 0);
    }


    .m-datepicker .dp__calendar_header_item {
        font-weight: 400;
        opacity: .5;
    }
    .m-datepicker .dp__calendar_header_separator {
        display: none;
    }


    .m-datepicker .dp__cell_offset {
        opacity: .2;
    }

    .m-datepicker .custom-month-year-component {
        color: #fff;
        font-size: 1.2rem;
        font-family: 'Optima Cyr';
        text-transform: capitalize;
    }

    .m-datepicker.dp__menu.dp__menu_index.dp__theme_light {
        background: var(--color-primary);
    }

    .m-datepicker .dp__calendar_header,
    .m-datepicker .dp__calendar_item {
        color: #fff;
    }

    .m-datepicker .dp__cell_inner.dp__cell_disabled {
        text-decoration: line-through;
    }

    /* datepicker header */
    .m-datepicker .dp__overlay {
        background: var(--color-primary);
        color: #fff;
    }
    .m-datepicker .dp__overlay_cell_active.dp__overlay_cell_pad {
        background-color: #fff;
        color: #000;
    }
    .m-datepicker  .dp__month_year_wrap {
        justify-content: center;
    }
    .m-datepicker  .dp__month_year_wrap .dp__btn {
        color: #fff;
        width: 3.5rem;
    }
    .m-datepicker .dp__month_year_wrap .dp__btn:hover {
        color: #000;;
    }
    .m-datepicker .dp__inner_nav {
        width: 1.6rem;
        background: #fff;
        height: 1.6rem;
    }
    .m-datepicker .dp__inner_nav .dp__icon {
        stroke: #000;
        fill: #000;
    }



    /* .m-datepicker.m-single .dp__instance_calendar {
        padding: 1rem;
    }
    .m-datepicker.m-single .dp__month_year_row {
        justify-content: center;
    }
    .m-datepicker.m-single .dp__month_year_row .datepicker-arrow {
        top: 2.4rem;
        cursor: pointer;
    }
    .m-datepicker.m-single .dp__month_year_row .datepicker-arrow.arrow-left {
        left: 1rem;
    }
    .m-datepicker.m-single .dp__month_year_row .datepicker-arrow.arrow-right {
        right: 1rem;
    } */
    
    
    /* current day */
    .m-datepicker .dp__cell_inner {
        border-radius: 100%!important;
    }
    .m-datepicker .dp__range_end,
    .m-datepicker .dp__range_start,
    .m-datepicker .dp__active_date {
        background: #fff!important;
        color: var(--color-primary)!important;
    }
    .m-datepicker .dp__range_between {
        background-color: rgba(255,255,255, .5);
        border: none;
        color: var(--color-primary)!important;
    }
    .m-datepicker .dp__date_hover_end:hover,
    .m-datepicker .dp__date_hover_start:hover,
    .m-datepicker .dp__date_hover:hover {
        color: var(--color-primary);
    }


    /* accomodation */
    .accommodation-dropdown .el-input__wrapper {
        background: none;
        box-shadow: none!important;
        color: #fff;
    }
    .accommodation-dropdown .el-input__inner {
        color: #fff;
        font-size: 1rem;
    }
    .accommodation-dropdown .el-input-number {
        width: 100px;
        margin-left: 3rem;
    }
    .accommodation-dropdown .el-input-number__decrease,
    .accommodation-dropdown .el-input-number__increase {
        background: none;
        border: 1px solid #fff;
        border-radius: 100%;
        color: #fff;
        width: 1.7rem;
        height: 1.7rem;
    }

    /* room-type */
    .room-type .params .icon path {
        fill: #939393;
    }
    .room-type .room-description {
        padding: 1rem 1.8rem 2rem;
    }



    /* counter */
    .el-input-number__increase.is-disabled {
        opacity: 0.3;
    }
    .accommodation .el-dropdown.disabled {
        pointer-events: none;
        opacity: .3;
    }


    /* carousel */
    .splide__pagination.sircle-items {
        bottom: .5em;
        visibility: hidden;
    }
    .splide__pagination.sircle-items .splide__pagination__page,
    .splide__pagination.sircle-items .splide__pagination__page.is-active {
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 100%;
        transform: scale(1);
        opacity: 1;
    }
    .splide__pagination.sircle-items .splide__pagination__page {
        background-color: #fff;
    }
    .splide__pagination.sircle-items .splide__pagination__page.is-active {
        background-color: var(--color-primary);
    }

    .custom-wrapper .splide__arrow--next,
    .custom-wrapper .splide__arrow--prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        visibility: hidden;
    }
    .custom-wrapper .splide__arrow--next {
        right: 1em;
    }
    .custom-wrapper:hover .splide__arrow--next,
    .custom-wrapper:hover .splide__arrow--prev,
    .custom-wrapper:hover .splide__pagination.sircle-items {
        visibility: visible;
    }


    .room-description a:hover .icon-arrow-left-in-circle svg circle {
        fill: #000!important;
        stroke: #000!important;
    }
    .room-description a:hover .icon-arrow-left-in-circle svg path {
        fill: #fff!important;
        stroke: #fff!important;
    }

    .hide-arrows .splide__arrows {
        display: none!important;
    }


    /* spiner */
    .el-loading-spinner {
        top: 3rem!important;
    }
    .el-loading-text {
        color: var(--color-primary)!important;
    }
    .el-loading-mask svg circle {
        stroke: var(--color-primary)!important;
    }


    /* modal room-detail */
    .room-detail {
        /* width: 100%; */
        /* max-width: 1200px; */
    }
    .room-detail .el-dialog__header {
        padding: 0;
        
    }
    .room-detail .el-dialog__headerbtn {
        top: 1.6rem;
        right: 1.6rem;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .room-detail .el-dialog__body {
        padding: 0;
    }

    .room-detail .room-detail-head {
        background-color: var(--color-primary);
        padding: 1.5rem 3rem;
        color: #fff;
        font-family: 'Optima Cyr';
    }
    .room-detail .el-dialog__close path {
        fill: #fff;
    }

    .room-detail .room-detail-body {
        padding: 0 3rem;
        height: 32vw;
        overflow-y: auto;
    }
    .room-detail .room-detail-body .slider {
        padding: 2.5rem 0 1.5rem;
    }

    .room-detail-foot {
        background-color: var(--color-primary);
        color: #fff;
        padding: .9rem 3rem;
    }

    .room-detail .room-detail-foot .cost-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 6rem;
    }

    .room-detail .room-detail-foot .cost {
        font-size: 1.8rem;
        font-family: 'Optima Cyr';
        line-height: 1.2;
    }

    .room-detail .room-detail-foot .persons-nights {
        font-size: .8rem;
    }

    .room-detail .room-detail-foot .btn {
        background-color: #fff;
        color: #000;
        width: 11rem;
    }

    .room-detail .room-detail-foot .bonus {
        color: #fff;
    }

    /* room-detail-body */
    .room-detail-body {

    }
    .room-detail-body .slider {
        display: flex;
        gap: 1rem;
    }

    /* .slider */
    .slider > .splide .splide__slide img {
        width: 100%;
    }

    .slider .splide:not(.is-overflow) .splide__pagination {
        display: flex;
    }

    .slider-thumblr {
        width: 30%;
    }
    .slider-thumblr .splide,
    .slider-thumblr .custom-wrapper,
    .slider-thumblr .splide__track {
        height: 100%;
    }
    .slider-thumblr .splide__list {
        transform: none!important;
        display: grid;
        gap: 0.5vw;
    }
    .slider-thumblr .splide__track--nav>.splide__list>.splide__slide {
        border: transparent!important;
        margin: 0!important;
    }
    .slider-thumblr  .splide:not(.is-overflow) .splide__pagination,
    .slider-thumblr  .splide__pagination.splide__pagination--ltr {
        display: none;
    }

    /* 3 slides */
    .slider-thumblr .image-in-thumblr-3 .splide__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .slider-thumblr .image-in-thumblr-3 .splide__list .splide__slide:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }


    /* 4 slides */
    .slider-thumblr .image-in-thumblr-4 .splide__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .slider-thumblr .image-in-thumblr-4 .splide__list .splide__slide:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        display: inherit;
    }

    .slider-thumblr .image-in-thumblr-4 .splide__list .splide__slide:nth-child(3) {
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        display: inherit;
    }

    /* text-with-circle-icon */
    .text-with-circle-icon .icon {
        margin-left: 1rem;
    }
    .text-with-circle-icon:hover .icon svg {
        filter: invert(1);
        fill: #ffff;
    }

    /* select-services */
    .select-services {
        padding-top: 2rem;
    }
    .select-services  .el-collapse {
        border-top: 0;
        padding-top: 1rem;
    }
    .select-services .el-collapse-item__arrow {
        margin: 0 0 1.1rem 1rem;
    }
    .select-services .el-collapse-item__header {
        height: auto;
        align-items: end;
        border: none;
    }
    .slider-thumblr .image-in-thumblr-5 .splide__list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .slider-thumblr .image-in-thumblr-5 .splide__list .splide__slide:nth-child(2) {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        display: inherit;
    }

    /* lightbox */
    .m-lightbox .vel-img-wrapper {
        transition: 0.15s linear;
    }



    /* .booking-sidebar */
    .booking-sidebar .el-collapse-item__header {
        padding: 0 1.4rem;
        background: #EEEAEA;
        position: relative;
    }
    .booking-sidebar .el-collapse-item__content {
        padding: .8rem 1.4rem;
    }
    .booking-sidebar .icon-trash {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    .booking-sidebar .el-collapse-item__arrow {
        margin: -0.2rem 0 0 1rem;
    }


    /* m-dialog__service-dscr */
    .m-dialog__service-dscr  {
        max-width: 1000px;
        height: 98vh;
        margin: 1vh auto!important;
    }
    .m-dialog__service-dscr .el-dialog__header {
        padding: 0;
    }
    .m-dialog__service-dscr .el-dialog__body {
        height: 100%;
        padding: 0;
        
    }
    .m-dialog__service-dscr .el-dialog__headerbtn {
        width: 1.6rem;
        height: 1.6rem;
        top: 1rem;
        right: 0.5rem;
        border: 1px solid var(--color-primary);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .m-dialog__service-dscr .el-dialog__headerbtn svg path {
        fill: var(--color-primary);
    }

    /* booking-main */
    .booking-main .is-error .dp__input {
        border-bottom: 1px solid #B91818;
    }
    .booking-main .dp__input {
        border: none;
        border-bottom: 1px solid #ccc;
        height: 2.6rem;
        border-radius: 0;
        height: 2.1rem;
        padding-left: 11px;
        color: #606266;
        font-size: .9rem;
    }
    .booking-main .dp__input::placeholder {
        font-size: .875rem;
        font-family: "Geometria";
        color: rgb(17, 24, 39);
    }
    .booking-main .dp__input_wrap svg {
        display: none;
    }

    /* custom-form */
    .custom-form .el-form-item .el-input__wrapper {
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        box-shadow: none!important;
    }
    .custom-form .el-form-item.is-error .el-input__wrapper {
        box-shadow: none;
        border-color:#B91818;
    }
    .custom-form .el-form-item.is-success .el-input__wrapper {
        box-shadow: none;
    }
    .custom-form .el-form-item__error {
        color:#B91818;
        padding-top: 0.5rem;
        line-height: 1.2;
    }
    .custom-form  .dp__icon.dp__clear_icon {
        display: none;
    }
    .custom-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.2rem;
   }
    .custom-form .el-form-item {
        position: relative;
   }
    .custom-form .icon-check-success {
        display: none;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
   }
    .custom-form .el-form-item.is-success .icon-check-success {
        display: block;
   }


   /* booking-complete */
    .booking-complete .el-descriptions--large .el-descriptions__body .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
        vertical-align: text-top;
    }



    