@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #215C66;
    --color-line: #EAEAEA;
}
  
.btn {
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--color-primary);
    border-radius: 40px;
}
    .btn .icon {
      margin-right: 19px;
    }

.container {
    max-width: 1600px;
}
