@tailwind base;
@tailwind components;
@tailwind utilities;


/* variables */
:root {
    --color-primary: #215C66;
    --color-line: #EAEAEA;
}
  
.btn {
    padding: 0 1.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--color-primary);
    border-radius: 2.5rem;
}
    .btn .icon {
      margin-right: 1.2rem;
    }

@font-face {
    font-family: 'Optima Cyr';
    src: url('./fonts/optima/Optima.woff2') format('woff2'),
         url('./fonts/optima/Optima.woff') format('woff'),
         url('./fonts/optima/Optima.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('./fonts/geometria/Geometria-Light.woff2') format('woff2'),
         url('./fonts/geometria/Geometria-Light.woff') format('woff'),
         url('./fonts/geometria/Geometria-Light.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baskerville';
    src: url('./fonts/baskerville/BaskervilleCyrLTStd-Incline.woff2') format('woff2'),
         url('./fonts/baskerville/BaskervilleCyrLTStd-Incline.woff') format('woff'),
         url('./fonts/baskerville/BaskervilleCyrLTStd-Incline.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
